*{
    box-sizing: border-box;
}

html{
    font-size: calc(1em + 1vw);
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #fff;
    max-width: 1600px;
}

#grid-container{      /*Tatt fra tidligere arbeid i undervisning i webutvikling (Grid mappe)*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
}

/*header{
    grid-area: topp;
}

main{
    grid-area: hovedomraade;
}

footer{
    grid-area: bann;
}*/



/*Header CSS for alle sidene*/

#meny{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    font-size: 20px;
}

#meny img{
    width: 85px;
}

#meny ul{
    display: flex;
    list-style: none;
    text-decoration-line: none;
    gap: 35px;
}

.btn{
    color:#000;
    text-decoration-line: none;
}

.contact-btn{
    background-color: #e6bd43;
    color: #000;
    padding: 1rem;
    font-weight: bold;
    text-decoration-line: none;
}

.contact-btn:hover{  
    background-color: #000;
    color:#e6bd43;
}

#informasjon{
    display: flex;
    justify-content: space-between;
    place-items: center;
    background-color:#000;
    width: 100%;
    padding: 1rem;
}


/*Footer CSS for alle sidene*/


#informasjon ul{
    display: flex;
    list-style: none;
    text-decoration-line: none;
    gap: 35px;
}

.some{
    color:#fff;
}

#informasjon img{
    width: 90px;
}

#informasjon p{
    font-size: 20px;
    color:#cdcdcd;
}


/*CSS for index.html*/

.headline{           /*Brukt W3schools til å få tekst over bilde. Link: https://www.w3schools.com/howto/howto_css_image_text.asp*/
    display: flex;
    position: relative;
}

.headline-text{
    position: absolute;
    justify-content: center;
    text-align: center;
}

.headline p{
    font-size: 15px
}

.headline img{
    width: 100%;
    justify-content: center;
}

.headline article{
    padding: 0.7rem;
    margin: 0 150px 0 150px;
}

.read-more-services{
    background-color: #e6bd43;
    color: #000;
    padding: 1rem;
    font-size: 15px;
    font-weight: bold;
    text-decoration-line: none;  
}

.read-more-services:hover{
    background-color: #000;
    color:#e6bd43;
}

#artikkel-1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin: 0 150px 0 150px;
}

#artikkel-1{
    font-size: 20px;
}

#artikkel-1 h2{
    font-size: 40px;
}

#artikkel-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6bd43;
    width: 100%;
    padding: 1rem;
}

#artikkel-2 span{
    padding: 0.5rem;
    width: 100%;
}

#artikkel-2 p{
    padding: 0 0 0.5rem 0;
    font-size: 20px;
}

#artikkel-2 img{
    width: 500px;
}

.read-more-about{
    text-decoration-line: none;
    color:#000;
    border: 4px solid #000;
    padding: 0.5rem;
    font-size: 20px;
    width: 100%;
}

#artikkel-3{
    justify-content: center;
    text-align: center;
}

.services{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.services article{
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

#sign-up{
    display: flex;
    background-color: #cdcdcd;
    justify-content: center;
    place-items: center;
    text-align: center;
    padding: 1rem;
}

#email{
    padding: 0.4rem;
    border: #fff;
}

#email-signup{
    background-color: #e6bd43;
    color:#000;
    padding: 0.5rem;
}


/*CSS for products.html*/


.headline-portfolio{
    display: flex;
    position: relative;
    
}

.headline-portfolio h1{
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 30%;
    left: 40%;
}

.headline-portfolio img{
    width: 100%;
    filter:blur(1px);     /*Brukt W3schools for å blurre bildet. Link: https://www.w3schools.com/howto/howto_css_blurred_background.asp*/
}








@media only screen and (min-width: 850px){
    
    /*Css for index.html*/

    #grid-container{
        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header header header" "main main main" "footer footer footer";
        
    }

    header {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    
    main {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    footer{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
    }
}